.streamerList {
    list-style-type: none;
    padding: 0;
  }
  
.streamerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(50, 51, 81);
    padding: 16px;
    border-radius: 14px;
  }
  
.streamerName {
    font-weight: bold;
  }
  
.streamerUpvotes,
.streamerDownvotes {
    margin: 5px 0;
  }
  
.voteButton {
  width: 32px;
  height: 32px;
  padding: 4px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-style: italic;
}

p {
  margin: 10px;
}