.formContainer {
    margin: 20px;
  }
  
.inputField {
    padding: 5px;
    width: 200px;
  }

input, select {
  margin: 10px;
}

textarea {
  margin: 10px 0;
}

.inputBox {
  padding: 12px 0;
}

.closeButton {
  background-color: red;
}