.formContainer {
    margin: 20px;
  }
  
.inputField {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

.inputBox {
  margin-top: 10px;
}

input, select, textarea {
  margin: 10px 0;
}